
* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5 "museo-sans",Arial,sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #aa2929;
}

p {
  margin-bottom: 21px;
}

header {
  padding: 1.6%;
  background-color: #aa2929;
  color: #fff;
  font-weight: 300;
  border-bottom: 5px solid #bcbcbc;
  margin-bottom: 21px;
}

header a {
  color: #fff;
}

header span {
  font-size: 21px;
  vertical-align: top;
  padding-left: 7px;
  opacity: .5;
}

aside, article {
  padding: 1.6%;
  float: left;
}

aside {
  width: 22%;
}

aside li {
  list-style: none;
}

article {
  width: 66%;
}

article h1 {
  margin-bottom: 10px;

}
